flows.json
[{"id":"dbef7757.df3e28","type":"tab","label":"Dark Sky","disabled":false,"info":""},{"id":"354e87b0.f9e9b8","type":"tab","label":"Twillo","disabled":false,"info":""},{"id":"c03442a9.dc895","type":"tab","label":"Alerts","disabled":false,"info":""},{"id":"787fc2.d5d0704","type":"tab","label":"Ecobee3","disabled":false,"info":""},{"id":"b59c2f58.aa03f","type":"tab","label":"CEP Example","disabled":false,"info":""},{"id":"31583ee1.d97fc2","type":"tab","label":"LoRa Codec","disabled":false,"info":""},{"id":"b48799ff.1c3938","type":"tab","label":"InfluxDB","disabled":false,"info":""},{"id":"e2d0cb9.2227138","type":"tab","label":"MongoDB","disabled":false,"info":""},{"id":"a7afb231.b96ac","type":"ui_group","z":"","name":"Wind Speed","tab":"a2b5d5d7.7c8478","order":7,"disp":true,"width":"6"},{"id":"957c8056.31be2","type":"ui_group","z":"","name":"OAT","tab":"a2b5d5d7.7c8478","order":6,"disp":true,"width":"6"},{"id":"5c24cfde.57ada","type":"ui_group","z":"","name":"Storms","tab":"a2b5d5d7.7c8478","order":8,"disp":true,"width":"6"},{"id":"a2b5d5d7.7c8478","type":"ui_tab","z":"","name":"Home Control","icon":"dashboard","order":1},{"id":"f79416d5.655e98","type":"mqtt-broker","z":"","name":"","broker":"10.0.0.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3b7c6a0.d9b2096","type":"twilio-api","z":"","name":"","sid":"ACb5560ae67b6de2b941d932b088d01798","from":"952 333 4253"},{"id":"28d0828e.b2d48e","type":"mqtt-broker","z":"","name":"zwave","broker":"10.0.0.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46ad0054.7ebf9","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2df8a766.55cbb8","type":"mongodb","z":"","hostname":"10.0.0.10","port":"27017","db":"ecobee","name":"Ecobee3"},{"id":"26019b7f.e3dde4","type":"ui_group","z":"","name":"HVAC","tab":"847821d.575fae","order":1,"disp":true,"width":"6"},{"id":"847821d.575fae","type":"ui_tab","z":"","name":"Home Control","icon":"dashboard","order":1},{"id":"4059886a.be5078","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ca6c9043.8f9f9","type":"influxdb","z":"","hostname":"10.0.0.10","port":"8086","protocol":"http","database":"zwave","name":"","usetls":false,"tls":""},{"id":"c2f5845.02a6a78","type":"influxdb","z":"b48799ff.1c3938","hostname":"10.0.0.10","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false,"tls":""},{"id":"5ac4a0ea.b4ee9","type":"influxdb","z":"","hostname":"10.0.0.10","port":"8086","protocol":"http","database":"ecobee","name":"","usetls":false,"tls":""},{"id":"8b3d4d6.cde5bb","type":"influxdb","z":"","hostname":"10.0.0.10","port":"8086","protocol":"http","database":"mbox","name":"","usetls":false,"tls":""},{"id":"c1520f3a.97d92","type":"mongodb","z":"","hostname":"10.0.0.10","port":"27017","db":"zwave","name":""},{"id":"b8c30112.15284","type":"http request","z":"dbef7757.df3e28","name":"weatherapi","method":"use","ret":"obj","url":"","tls":"","x":510,"y":200,"wires":[["942b210.1e045e","6efa3945.847ec8","8acbe159.2f925","2a33542.85238ac","335f8f07.a613a"]]},{"id":"a99ebb28.4cc998","type":"function","z":"dbef7757.df3e28","name":"Weather - Home","func":"context.global.weatherapitoken=\"8957af1085b3c3adcbd3e35c7c41d0dc\"\ncontext.global.weatherlatlong=\"45.141574, -93.374866\"\nif (context.global.weatherapi!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.darksky.net/forecast/\"+context.global.weatherapitoken+\"/\"+context.global.weatherlatlong+\"?exclude=alerts,flags\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":327.99999237060547,"y":200.4443483352661,"wires":[["b8c30112.15284"]]},{"id":"bfc58fea.20187","type":"inject","z":"dbef7757.df3e28","name":"Every Hour","topic":"weatherapi","payload":"45.1416667,092.3747222","payloadType":"str","repeat":"3600","crontab":"","once":false,"x":138.55555725097656,"y":201.55563640594482,"wires":[["a99ebb28.4cc998"]]},{"id":"942b210.1e045e","type":"function","z":"dbef7757.df3e28","name":"Weather Icons","func":"summaryicon = msg.payload.currently.icon;\nminuteicon = msg.payload.minutely.icon;\nhouricon = msg.payload.hourly.icon;\ndailyicon = msg.payload.daily.icon;\n\n//Summary Icons\n\nvar summaryMSG={ \n    payload: summaryicon\n};\nvar minuteMSG={\n    payload: minuteicon\n};\nvar hourMSG={\n    payload: houricon\n};\nvar dailyMSG={\n    payload: dailyicon\n};\n\nreturn [ [ summaryMSG, minuteMSG, hourMSG, dailyMSG ] ];\n\n","outputs":"1","noerr":0,"x":768.5556030273438,"y":476.0000457763672,"wires":[[]]},{"id":"6efa3945.847ec8","type":"function","z":"dbef7757.df3e28","name":"Weather Summary","func":"summary = msg.payload.currently.summary;\nminute = msg.payload.minutely.summary;\nhour = msg.payload.hourly.summary;\ndaily = msg.payload.daily.summary;\n\n//Descriptions\n\n\nvar weatherMSG={ \n    payload: {'Currently': + summary}\n};\n\nreturn weatherMSG;\n\n\n/*\n    payload: {'Currently': +summary, 'Hourly': +hour, 'Daily': +daily}\n\n\nvar summarydescMSG={ \n    payload: summary\n};\n\nvar minutedescMSG={\n    payload: minute\n};\nvar hourdescMSG={\n    payload: hour\n};\nvar dailydescMSG={\n    payload: daily\n};\n\nreturn [ [summarydescMSG, minutedescMSG, hourdescMSG, dailydescMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":778.5556030273438,"y":523.0000457763672,"wires":[[]]},{"id":"4564ffc.5c32f","type":"comment","z":"dbef7757.df3e28","name":"Broadcast Hourly Weather Status","info":"","x":172.72227478027344,"y":124.3333797454834,"wires":[]},{"id":"8acbe159.2f925","type":"function","z":"dbef7757.df3e28","name":"Sunset","func":"if (msg.payload.currently.summary.length >1){ \nvar temp = msg.payload.currently.temperature;\nvar feelslike = msg.payload.currently.apparentTemperature;\nvar windspeed = msg.payload.currently.windSpeed;\nvar precipProbability = msg.payload.currently.precipProbability;\nvar precipType = msg.payload.currently.precipType;\nvar summary = msg.payload.currently.summary;\nvar sunset = msg.payload.daily.data.sunsetTime;\nvar dailyicon = msg.payload.daily.data;\nmsg.payload = {};\nmsg.payload.temp= temp;\nmsg.payload.feelslike = feelslike;\nmsg.payload.sunset = sunset;\n\nmsg2 = {};\n    msg2.payload = (\"Fuck\");\n\nreturn [msg, msg2];\n}\n\n/*\n\nif (msg.payload.currently.summary.length >1){ \n    msg.payload ={\"weather\":[{\"id\": \"summary\", \"value\": summary}]};\n    return msg;\n}\nreturn \"bad.\";\n\n\n\n\n//Descriptions\nvar tempMSG={ \n    payload: temp\n};\nvar feelslikeMSG={\n    payload: feelslike\n};\nvar windspeedMSG={\n    payload: windspeed\n};\nvar precipProbabilityMSG={\n    payload: precipProbability\n};\nvar precipTypeMSG={\n    payload: precipType\n};\n\n\nreturn [ [tempMSG, feelslikeMSG, windspeedMSG, precipProbabilityMSG, precipTypeMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":748.5556030273438,"y":563.0000457763672,"wires":[[]]},{"id":"5819182d.73c208","type":"function","z":"dbef7757.df3e28","name":"Sunset","func":"if (msg.payload.currently.summary.length >1){ \nvar temp = msg.payload.currently.temperature;\nvar feelslike = msg.payload.currently.apparentTemperature;\nvar windspeed = msg.payload.currently.windSpeed;\nvar precipProbability = msg.payload.currently.precipProbability;\nvar precipType = msg.payload.currently.precipType;\nvar summary = msg.payload.currently.summary;\n\nmsg.payload = {};\nmsg.payload.temp = temp;\nmsg.payload.feelslike = feelslike;\n\nmsg2 = {};\n    msg2.payload = (\"Fuck\");\n\nreturn [msg, msg2];\n}\n\n/*\n\nif (msg.payload.currently.summary.length >1){ \n    msg.payload ={\"weather\":[{\"id\": \"summary\", \"value\": summary}]};\n    return msg;\n}\nreturn \"bad.\";\n\n\n\n\n//Descriptions\nvar tempMSG={ \n    payload: temp\n};\nvar feelslikeMSG={\n    payload: feelslike\n};\nvar windspeedMSG={\n    payload: windspeed\n};\nvar precipProbabilityMSG={\n    payload: precipProbability\n};\nvar precipTypeMSG={\n    payload: precipType\n};\n\n\nreturn [ [tempMSG, feelslikeMSG, windspeedMSG, precipProbabilityMSG, precipTypeMSG ] ];\n*/\n","outputs":1,"noerr":0,"x":260.46033477783203,"y":399.0952582359314,"wires":[[]]},{"id":"f3b3a41e.335288","type":"debug","z":"dbef7757.df3e28","name":"","active":true,"console":"false","complete":"true","x":899.9841842651367,"y":116.00004529953003,"wires":[]},{"id":"3cc25cb8.aedb04","type":"debug","z":"dbef7757.df3e28","name":"","active":true,"console":"false","complete":"true","x":910,"y":420,"wires":[]},{"id":"d47024ba.0d5b68","type":"ui_chart","z":"dbef7757.df3e28","name":"Wind Speed","group":"a7afb231.b96ac","order":0,"width":0,"height":0,"label":"Wind Speed","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"500","removeOlderUnit":"604800","cutout":0,"x":930,"y":300,"wires":[[],[]]},{"id":"643162ef.a9efcc","type":"ui_chart","z":"dbef7757.df3e28","name":"OAT Chart","group":"957c8056.31be2","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":930,"y":260,"wires":[[],[]]},{"id":"e2d37931.0440c8","type":"ui_text","z":"dbef7757.df3e28","group":"957c8056.31be2","order":0,"width":0,"height":0,"name":"OAT Text","label":"Current OAT","format":"{{msg.payload}}","layout":"row-center","x":920,"y":220,"wires":[]},{"id":"49ea481b.18eae8","type":"ui_text","z":"dbef7757.df3e28","group":"a7afb231.b96ac","order":0,"width":0,"height":0,"name":"OAT Text","label":"Current Wind Speed","format":"{{msg.payload}}","layout":"row-center","x":920,"y":340,"wires":[]},{"id":"2a33542.85238ac","type":"debug","z":"dbef7757.df3e28","name":"","active":true,"console":"false","complete":"true","x":654.2698974609375,"y":140.28575897216797,"wires":[]},{"id":"335f8f07.a613a","type":"function","z":"dbef7757.df3e28","name":"","func":"//BDB Code to consume DarkSky Weather Reports\ntime = msg.payload.currently.time;\nsummary = msg.payload.currently.summary;\nicon = msg.payload.currently.icon;\nnearestStormDistance = msg.payload.currently.nearestStormDistance;\nnearestStormBearing = msg.payload.currently.nearestStormBearing;\nprecipIntensity = msg.payload.currently.precipIntensity;\nprecipProbability = msg.payload.currently.precipProbability;\ntemperature = msg.payload.currently.temperature;\napparentTemperature = msg.payload.currently.apparentTemperature;\ndewPoint = msg.payload.currently.dewPoint;\nhumidity = msg.payload.currently.humidity;\npressure = msg.payload.currently.pressure;\nwindSpeed = msg.payload.currently.windSpeed;\nwindGust = msg.payload.currently.windGust;\nwindBearing = msg.payload.currently.windBearing;\ncloudCover = msg.payload.currently.cloudCover;\nuvIndex = msg.payload.currently.uvIndex;\nvisibility = msg.payload.currently.visibility;\nozone = msg.payload.currently.ozone;\nsunSet = msg.payload.daily.data.sunsetTime;\n\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntimestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nvar darkSkyMsg = {\n    topic: \"darkSky\", \n    payload: { \n    summary: summary, \n    icon: icon, \n    nearestStormDistance: nearestStormDistance, \n    nearestStormBearing: nearestStormBearing,\n    precipIntensity: precipIntensity,\n    temperature: temperature,\n    apparentTemperature: apparentTemperature,\n    dewPoint: dewPoint,\n    humidity: humidity,\n    pressure: pressure,\n    windSpeed: windSpeed,\n    windGust: windGust,\n    windBearing: windBearing,\n    cloudCover: cloudCover,\n    sunSet: sunSet,\n    uvIndex: uvIndex,\n    visibility: visibility,\n    ozone: ozone,\n    time: time,\n    timestamp: timestamp}\n};\n\nvar tempMsg = {\n    topic: \"darkSky/temp\",\n    payload: temperature,\n    temperature: temperature,\n    apparentTemperature: apparentTemperature,\n    dewPoint: dewPoint,\n    humidity: humidity,\n    timestamp: timestamp\n};\n\nvar windMsg = {\n    topic: \"darkSky/wind\",\n    payload: windSpeed,\n    windSpeed: windSpeed,\n    windGust: windGust,\n    windBearing: windBearing,\n    timestamp: timestamp\n};\n\nvar stormMsg = {\n    topic: \"darkSky/storm\",\n    payload: nearestStormDistance,\n    nearestStormDistance: nearestStormDistance, \n    nearestStormBearing: nearestStormBearing,\n    precipIntensity: precipIntensity,\n    cloudCover: cloudCover,\n    //visibility: visbility,\n};\n\nreturn [ [darkSkyMsg], [tempMsg], [windMsg], [stormMsg]];\n","outputs":"4","noerr":0,"x":718.5556030273438,"y":236.0000457763672,"wires":[["f3b3a41e.335288","cae8d75e.4ee418"],["643162ef.a9efcc","e2d37931.0440c8"],["d47024ba.0d5b68","49ea481b.18eae8"],["3cc25cb8.aedb04","2c2c1a07.0b1ef6"]]},{"id":"2c2c1a07.0b1ef6","type":"ui_text","z":"dbef7757.df3e28","group":"5c24cfde.57ada","order":0,"width":0,"height":0,"name":"nearestStormDistance","label":"Storm Distance","format":"{{msg.payload}}","layout":"row-center","x":960,"y":380,"wires":[]},{"id":"cae8d75e.4ee418","type":"mqtt out","z":"dbef7757.df3e28","name":"","topic":"darksky","qos":"","retain":"","broker":"f79416d5.655e98","x":920,"y":40,"wires":[]},{"id":"9420c50.07da338","type":"twilio out","z":"354e87b0.f9e9b8","twilio":"3b7c6a0.d9b2096","twilioType":"sms","url":"","number":"6124142744","name":"","x":350,"y":140,"wires":[]},{"id":"e2eab293.f925c","type":"inject","z":"354e87b0.f9e9b8","name":"","topic":"","payload":"test...1234","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["9420c50.07da338"]]},{"id":"55e14ed7.aa412","type":"mqtt in","z":"c03442a9.dc895","name":"","topic":"zwave/#","qos":"2","broker":"28d0828e.b2d48e","x":160,"y":160,"wires":[["1571ba9a.fdfb85"]]},{"id":"a39eac8c.de842","type":"debug","z":"c03442a9.dc895","name":"zwave/update/#","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":80,"wires":[]},{"id":"1571ba9a.fdfb85","type":"json","z":"c03442a9.dc895","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["bd48e32f.b5ff6"]]},{"id":"60d4cb4.f866e34","type":"inject","z":"787fc2.d5d0704","name":"Refresh Thermostat Data","topic":"","payload":"Refresh Thermostat Variables","payloadType":"str","repeat":"900","crontab":"","once":false,"onceDelay":"","x":180,"y":640,"wires":[["512231ee.29c46"]]},{"id":"bb738a30.bdcb88","type":"function","z":"787fc2.d5d0704","name":"Get ecobeePin Token","func":"// Insert your Ecobee API Key into the following variable:\ncontext.global.EcobeeClientID=\"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\";\n// Insert your Ecobee API key into the above variable.\n\nvar newMsg ={\n \"url\":\"https://api.ecobee.com/authorize?response_type=ecobeePin&client_id=\"+context.global.EcobeeClientID+\"&scope=smartWrite\",\n \"method\": \"GET\",\n headers: {\n }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":298.3690643310547,"y":126.21428489685059,"wires":[["8f17f3c3.54828"]]},{"id":"30f6dd0a.e97b12","type":"debug","z":"787fc2.d5d0704","name":"","active":true,"console":"true","complete":"payload","x":878.3690032958984,"y":125.96428489685059,"wires":[]},{"id":"8f17f3c3.54828","type":"http request","z":"787fc2.d5d0704","name":"","method":"use","ret":"obj","url":"","x":505.3690643310547,"y":126.46428489685059,"wires":[["7160c69.8d16d38"]]},{"id":"512231ee.29c46","type":"function","z":"787fc2.d5d0704","name":"Get Thermostats","func":"if (context.global.EcobeeRefreshtoken!==\"\")\n{\n var newMsg={\n \"url\":\"https://api.ecobee.com/1/thermostat?format=json&body=%7B%22selection%22%3A%7B%22includeAlerts%22%3A%22false%22%2C%22selectionType%22%3A%22registered%22%2C%22selectionMatch%22%3A%22%22%2C%22includeEvents%22%3A%22false%22%2C%22includeSettings%22%3A%22false%22%2C%22includeRuntime%22%3A%22true%22%2C%22includeSensors%22%3A%22true%22%7D%7D\",\n \"method\": \"GET\",\n headers: {\n \"Content-Type\":\"application/json;charset=UTF-8\",\n \"Authorization\":\"Bearer \"+context.global.EcobeeAccessToken,\n }\n };\n}\nelse {\n var newMsg={\n \"url\":\"127.0.0.1\",\n \"method\":\"GET\"\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":532.25,"y":639.5,"wires":[["cac9c9fc.66c368"]]},{"id":"cac9c9fc.66c368","type":"http request","z":"787fc2.d5d0704","name":"Get Thermostat Request","method":"use","ret":"obj","url":"","x":744.4999694824219,"y":639.5,"wires":[["a99cc6b1.0dd038","e1b0efb2.cedf5"]]},{"id":"839cb9e3.7a5048","type":"inject","z":"787fc2.d5d0704","name":"Refresh token every 20 minutes","topic":"","payload":"","payloadType":"str","repeat":"1200","crontab":"","once":false,"x":192.6190643310547,"y":366.99207496643066,"wires":[["e555a1d4.c2c3e"]]},{"id":"e555a1d4.c2c3e","type":"function","z":"787fc2.d5d0704","name":"Refresh Token","func":"context.global.EcobeeClientID=\"bygh7q8PMFCM9FFTY3ED0mE7MdAG2yYp\";\n//context.global.EcobeeRefreshToken=\"\";\nvar newMsg ={\n \"url\":\"https://api.ecobee.com/token?grant_type=refresh_token&code=\"+context.global.EcobeeRefreshToken+\"&client_id=\"+context.global.EcobeeClientID+\"\",\n \"method\": \"POST\",\n headers: {\n }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":420.0357208251953,"y":366.99207496643066,"wires":[["d44ec8ab.fb76f8"]]},{"id":"d44ec8ab.fb76f8","type":"http request","z":"787fc2.d5d0704","name":"","method":"use","ret":"obj","url":"","x":589.7857208251953,"y":366.74207496643066,"wires":[["6d07026b.682d6c"]]},{"id":"26916e54.71bcb2","type":"function","z":"787fc2.d5d0704","name":"Define Access and Refresh Token vars","func":"context.global.EcobeeAccessToken=msg.payload.access_token;\ncontext.global.EcobeeRefreshToken=msg.payload.refresh_token;\nvar msg={ payload:{\n access_token:context.global.EcobeeAccessToken,\n refresh_token:context.global.EcobeeRefreshToken\n }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":400,"wires":[["362925b7.18f55a"]]},{"id":"362925b7.18f55a","type":"debug","z":"787fc2.d5d0704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1250,"y":400,"wires":[]},{"id":"75045b3e.07f844","type":"comment","z":"787fc2.d5d0704","name":"Step #3 - Refresh Token Flow a few times for good measure.","info":"This flow will refresh your token every time the input button is pressed.\n\nGlobal variables set -- EcobeeAccessToken and EcobeeRefreshToken","x":258.5357208251953,"y":332.49207496643066,"wires":[]},{"id":"f05f8060.601a5","type":"comment","z":"787fc2.d5d0704","name":"Step #4 - Get Thermostat Data","info":"Get thermostat data","x":172.6388931274414,"y":603.0277919769287,"wires":[]},{"id":"ad9d298.ad0a3d8","type":"http response","z":"787fc2.d5d0704","name":"","x":478.75,"y":1091.4444217681885,"wires":[]},{"id":"88bde4db.bfba78","type":"function","z":"787fc2.d5d0704","name":"Throw Ecobee Data","func":"if(msg.req.headers.authorization && msg.req.headers.authorization==\"Bearer \"+context.global.FreeboardAuthTocken){\n msg.payload.thermostats=context.global.EcobeeThermostats;\n msg.payload.sensors=context.global.EcobeeSensors;\n msg.res.statusCode=\"200\";\nreturn msg;\n}\nelse\n{\n //msg.payload=\"Not Authorized\";\n msg.res.send(\"403\",\"Forbidden\");\n return;\n}\n\n//return msg;","outputs":1,"noerr":0,"x":307.75,"y":1091.4444217681885,"wires":[["ad9d298.ad0a3d8"]]},{"id":"f2565f09.4e755","type":"http in","z":"787fc2.d5d0704","name":"Get Ecobee Data","url":"/getEcobeeData","method":"get","x":112.75,"y":1091.4444217681885,"wires":[["88bde4db.bfba78"]]},{"id":"6fdc8811.6f2c78","type":"inject","z":"787fc2.d5d0704","name":"Step 1","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":123.36906051635742,"y":125.71428489685059,"wires":[["bb738a30.bdcb88"]]},{"id":"2238e075.81827","type":"comment","z":"787fc2.d5d0704","name":"Step #1 - Requesting the 4-digit ecobeePin - Log in to Ecobee.com and go to your \"My Apps\" before clicking the Inject node.","info":"The ecobeePin must be entered into your \"My Apps\" in Ecobee.com within 10 minutes.","x":465.3690643310547,"y":55.71428680419922,"wires":[]},{"id":"4811a34e.d1583c","type":"function","z":"787fc2.d5d0704","name":"Get Authorization Token","func":"var newMsg ={\n \"url\":\"https://api.ecobee.com/token?grant_type=ecobeePin&code=\"+context.global.EcobeeAccessToken+\"&client_id=\"+context.global.EcobeeClientID,\n \"method\": \"POST\",\n headers: {\n }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":320.3690643310547,"y":236.7142848968506,"wires":[["1d99e5e6.8dad1a"]]},{"id":"1241c544.cb0cdb","type":"debug","z":"787fc2.d5d0704","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":690,"y":280,"wires":[]},{"id":"1d99e5e6.8dad1a","type":"http request","z":"787fc2.d5d0704","name":"","method":"use","ret":"obj","url":"","x":522.3690338134766,"y":236.9642848968506,"wires":[["1241c544.cb0cdb","b4b39246.b563d"]]},{"id":"c798aa78.5e03e8","type":"comment","z":"787fc2.d5d0704","name":"Step #2 - Requesting the first access token - you must run Step 2 within 10 minutes of running Step 1.","info":"Now that the app has been added to your \"My Apps\" - we need to request our first access token.","x":389.59129333496094,"y":201.214280128479,"wires":[]},{"id":"7160c69.8d16d38","type":"function","z":"787fc2.d5d0704","name":"Save access code","func":"context.global.EcobeeAccessToken = msg.payload.code;\nvar msg = {\"payload\":\"Ecobee Pin: \"+msg.payload.ecobeePin};\nreturn msg;","outputs":1,"noerr":0,"x":694.3690032958984,"y":125.71428489685059,"wires":[["30f6dd0a.e97b12"]]},{"id":"ef7be2a4.a1e9b","type":"file","z":"787fc2.d5d0704","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1120,"y":160,"wires":[[]]},{"id":"2cf1397c.c14af6","type":"file in","z":"787fc2.d5d0704","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","format":"utf8","x":281.3055648803711,"y":1176.4444026947021,"wires":[["67ff61f9.ee04c"]]},{"id":"5a31c19c.26b46","type":"debug","z":"787fc2.d5d0704","name":"","active":false,"console":"true","complete":"payload","x":887.3055038452148,"y":1176.1110591888428,"wires":[]},{"id":"44b1f031.bfe25","type":"inject","z":"787fc2.d5d0704","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":109.3055648803711,"y":1176.4444026947021,"wires":[["2cf1397c.c14af6"]]},{"id":"4195b647.59ae68","type":"function","z":"787fc2.d5d0704","name":"Define Access and Refresh Tokens","func":"if (msg.payload.refresh_token!==null)\n{\n context.global.EcobeeRefreshToken = msg.payload.refresh_token;\n node.warn(\"Refresh Token as Global Context: \"+context.global.EcobeeRefreshToken);\n}\nreturn msg;","outputs":1,"noerr":0,"x":650.3055038452148,"y":1176.4444026947021,"wires":[["5a31c19c.26b46"]]},{"id":"d6c5694e.a1d9e8","type":"file","z":"787fc2.d5d0704","name":"EcobeeTokens","filename":"/home/bdbuysse/ecobee3/token","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1380,"y":220,"wires":[[]]},{"id":"b4b39246.b563d","type":"function","z":"787fc2.d5d0704","name":"Define Access and Refresh Tokens","func":"context.global.EcobeeRefreshToken = msg.payload.refresh_token;\ncontext.global.EcoBeeAccessToken = msg.payload.access_token;\nvar msg={ \"payload\":context.global.EcobeeRefreshToken };\nreturn msg;","outputs":1,"noerr":0,"x":778.3690643310547,"y":236.7142848968506,"wires":[["5e2fe2fc.7fbc4c"]]},{"id":"5e2fe2fc.7fbc4c","type":"debug","z":"787fc2.d5d0704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1009.3690032958984,"y":236.7142848968506,"wires":[]},{"id":"6d07026b.682d6c","type":"switch","z":"787fc2.d5d0704","name":"Refresh Token","property":"payload.refresh_token","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":753.5357208251953,"y":366.99207496643066,"wires":[["eee2c1b9.115fc"],["26916e54.71bcb2"]]},{"id":"eba717bc.0b1118","type":"comment","z":"787fc2.d5d0704","name":"This flow will extract the Access and Refresh tokens from the log file and put them in the global context variables.","info":"","x":414.9721908569336,"y":1140.1110591888428,"wires":[]},{"id":"349990ad.03155","type":"comment","z":"787fc2.d5d0704","name":"You will have 2 minutes to enter the 4-digit pin into Ecobee.com and authorize the application. (Ecobee disgards the 4-pin code after 10 minutes!)","info":"","x":531.6190643310547,"y":90.71428489685059,"wires":[]},{"id":"35d8acb2.8dbc04","type":"comment","z":"787fc2.d5d0704","name":"Display Ecobee Data to Freeboard","info":"","x":165,"y":1054.4444217681885,"wires":[]},{"id":"67ff61f9.ee04c","type":"json","z":"787fc2.d5d0704","name":"","x":433.5555648803711,"y":1176.4444026947021,"wires":[["4195b647.59ae68"]]},{"id":"eee2c1b9.115fc","type":"function","z":"787fc2.d5d0704","name":"Define Access and Refresh Tokens","func":"if (msg.payload.refresh_token!==null)\n{\n context.global.EcobeeRefreshToken = msg.payload.refresh_token;\n node.warn(\"Refresh Token as Global Context: \"+context.global.EcobeeRefreshToken);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":340,"wires":[["4e5e5f45.b28f9"]]},{"id":"cc785324.71ea7","type":"inject","z":"787fc2.d5d0704","name":"Step 2","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":118.61906433105469,"y":236.7142848968506,"wires":[["4811a34e.d1583c"]]},{"id":"a99cc6b1.0dd038","type":"function","z":"787fc2.d5d0704","name":"Temp, Humidity JSON","func":"//BDB Ecobee3 Function\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Ecobee Code Starts Here\nvar currentTemp=\"\";\nvar currentHumidity=\"\";\nvar currentruntime=\"\";\ncontext.global.EcobeeThermostats = {};\ncontext.global.EcobeeSensors = {};\nSensorCaps = {};\nfor(i = 0; i<msg.payload.thermostatList.length; i++) \n { \n if (msg.payload.thermostatList[i].modelNumber==\"athenaSmart\")\n {\n context.global.EcobeeThermostats[msg.payload.thermostatList[i].identifier] = {\n \"name\":msg.payload.thermostatList[i].name,\n \"connected\":msg.payload.thermostatList[i].runtime.connected,\n \"actualTemperature\": msg.payload.thermostatList[i].runtime.actualTemperature,\n \"actualHumidity\": msg.payload.thermostatList[i].runtime.actualHumidity,\n \"currentruntime\": msg.payload.thermostatList[i].runtime.runtimeInterval,\n \"desiredHeat\": msg.payload.thermostatList[i].runtime.desiredHeat,\n\t\t\t\t\"desiredCool\": msg.payload.thermostatList[i].runtime.desiredCool,\n\t\t\t\t\"desiredFanMode\": msg.payload.thermostatList[i].runtime.desiredFanMode\n };\n\t\t\tcurrentTemp=msg.payload.thermostatList[i].runtime.actualTemperature/10;\n\t\t\tcurrentHumidity=msg.payload.thermostatList[i].runtime.actualHumidity;\n\t\t\tcurrentruntime=msg.payload.thermostatList[i].runtime.runtimeInterval;\n for (j=0; j<msg.payload.thermostatList[i].remoteSensors.length; j++)\n {\n var SensorName=msg.payload.thermostatList[i].remoteSensors[j].name;\n var SensorInUse=msg.payload.thermostatList[i].remoteSensors[j].inUse;\n for (z=0; z<msg.payload.thermostatList[i].remoteSensors[j].capability.length; z++)\n {\n SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id] = {\n \"type\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].type,\n \"value\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].value\n };\n \n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"temperature\")\n {\n var SensorTemp=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"occupancy\")\n {\n var SensorOccupancy=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n \n context.global.EcobeeSensors[msg.payload.thermostatList[i].remoteSensors[j].name] = {\n \"name\":SensorName,\n \"inUse\":SensorInUse,\n \"sensorTemp\":SensorTemp,\n \"sensorOccupancy\":SensorOccupancy\n };\n }\n }\n }\n }\n\nvar ecobeeMsg = {\n    topic: \"ecobee\",\n    payload: {\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime, \n    }\n}\n\nvar tempMsg={\n    payload: currentTemp,\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\nvar rhMsg={\n    payload: currentHumidity,\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\n\nreturn [ [ecobeeMsg], [tempMsg], [rhMsg] ];\n\n\n","outputs":"3","noerr":0,"x":980,"y":640,"wires":[["b3477a1b.b0cf28"],["37fef5e3.644aaa"],["ac252cdb.69e77"]]},{"id":"61912fd5.aca2e","type":"mongodb in","z":"787fc2.d5d0704","mongodb":"2df8a766.55cbb8","name":"","collection":"temp","operation":"find","x":1500,"y":940,"wires":[["f25c3991.bcbe78","89b106dd.786f78"]]},{"id":"c0871de8.baac2","type":"debug","z":"787fc2.d5d0704","name":"","active":true,"console":"false","complete":"true","x":1850,"y":1000,"wires":[]},{"id":"7012fdd7.8d1914","type":"inject","z":"787fc2.d5d0704","name":"","topic":"","payload":"\"db.temp.find()\"","payloadType":"json","repeat":"","crontab":"","once":false,"x":1100,"y":920,"wires":[["7ced966b.e09068","62ebd49d.12e89c"]]},{"id":"7ced966b.e09068","type":"debug","z":"787fc2.d5d0704","name":"","active":true,"console":"true","complete":"true","x":1270,"y":900,"wires":[]},{"id":"73ab38c8.42cca8","type":"function","z":"787fc2.d5d0704","name":"Format Temp","func":"var tempvalue = msg.payload.currentTemp;\nvar timestamp = msg.payload.time;\n\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};\n\n/*\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};}\nelse {\nreturn {topic:\"Ecobee3/temp\", payload:\"Temp go boom\"};\n}\nreturn msg;\n*/","outputs":"1","noerr":0,"x":1870,"y":920,"wires":[["d66caa61.628948"]]},{"id":"5fb98ead.3f163","type":"function","z":"787fc2.d5d0704","name":"Format RH","func":"var rhvalue = msg.payload;\n\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Format Message\n\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/RH\", payload: rhvalue, timestamp: time, humidity: rhvalue};}\nelse {\nreturn {topic:\"Ecobee3/RH\", payload:\"Humidity go boom\", timestamp: time};\n}\nreturn msg;","outputs":"1","noerr":0,"x":1870,"y":880,"wires":[["d66caa61.628948"]]},{"id":"62ebd49d.12e89c","type":"function","z":"787fc2.d5d0704","name":"Query Temp","func":"var TempQuery={\n    payload: \"db.temp.find()\",\n    limit: 1000,\n    skip: 0,\n};\nreturn TempQuery;\n\n\n\n\n/*\nvar TempQuery={\n    payload: db.getCollection('temp').find({})\n};\nreturn TempQuery;\n*/\n\n/*\nvar Msg1={\n payload:year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second + \" Main Floor Temp: \" + currentTemp + \"*F. Runtime: \" + currentruntime*5 \n};\nvar Msg2={\n payload:\"Humidity is \" + currentHumidity + \"%.\"\n};\nreturn [ [Msg1, Msg2 ] ];\n*/","outputs":1,"noerr":0,"x":1290,"y":940,"wires":[["61912fd5.aca2e"]]},{"id":"f25c3991.bcbe78","type":"debug","z":"787fc2.d5d0704","name":"","active":false,"console":"false","complete":"true","x":1690,"y":880,"wires":[]},{"id":"649feb85.8c8434","type":"inject","z":"787fc2.d5d0704","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1120,"y":1020,"wires":[["5e5f6585.51ccec"]]},{"id":"5e5f6585.51ccec","type":"function","z":"787fc2.d5d0704","name":"Query Temp","func":"var TempQuery1={\n    payload: \"db.temp.find({ payload: 65.4})\",\n    limit: 1,\n    skip: 0,\n};\nreturn TempQuery1;\n\n\n\n\n/*\nvar TempQuery={\n    payload: db.getCollection('temp').find({})\n};\nreturn TempQuery;\n*/\n\n/*\nvar Msg1={\n payload:year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second + \" Main Floor Temp: \" + currentTemp + \"*F. Runtime: \" + currentruntime*5 \n};\nvar Msg2={\n payload:\"Humidity is \" + currentHumidity + \"%.\"\n};\nreturn [ [Msg1, Msg2 ] ];\n*/","outputs":1,"noerr":0,"x":1290,"y":1020,"wires":[["61912fd5.aca2e"]]},{"id":"89b106dd.786f78","type":"bigsplitter","z":"787fc2.d5d0704","name":"","property":"payload","x":1700,"y":940,"wires":[["73ab38c8.42cca8","fda31122.6f7c9","5fb98ead.3f163"],["c0871de8.baac2"]]},{"id":"d66caa61.628948","type":"debug","z":"787fc2.d5d0704","name":"","active":true,"console":"false","complete":"true","x":2030,"y":920,"wires":[]},{"id":"fda31122.6f7c9","type":"function","z":"787fc2.d5d0704","name":"Format Temp","func":"var tempvalue = msg.payload.currentTemp;\nvar timestamp = msg.payload.time;\n\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue};\n\n/*\nif (msg.payload >= 0){\nreturn {topic:\"Ecobee3/temp\", payload: tempvalue + \",\" + timestamp};}\nelse {\nreturn {topic:\"Ecobee3/temp\", payload:\"Temp go boom\"};\n}\nreturn msg;\n*/","outputs":"1","noerr":0,"x":1870,"y":960,"wires":[[]]},{"id":"37fef5e3.644aaa","type":"ui_chart","z":"787fc2.d5d0704","name":"Main Temp","group":"26019b7f.e3dde4","order":1,"width":0,"height":0,"label":"Ecobee3 Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"500","removeOlderUnit":"3600","cutout":0,"x":1210,"y":640,"wires":[["565e73c3.93f05c"],[]]},{"id":"ac252cdb.69e77","type":"ui_chart","z":"787fc2.d5d0704","name":"Ecobee 3 RH","group":"26019b7f.e3dde4","order":3,"width":0,"height":0,"label":"Ecobee 3 RH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"x":1210,"y":680,"wires":[["565e73c3.93f05c"],[]]},{"id":"565e73c3.93f05c","type":"debug","z":"787fc2.d5d0704","name":"","active":false,"console":"false","complete":"true","x":1390,"y":640,"wires":[]},{"id":"3c74a91f.7879b6","type":"debug","z":"787fc2.d5d0704","name":"","active":true,"console":"false","complete":"true","x":1550,"y":600,"wires":[]},{"id":"4e5e5f45.b28f9","type":"debug","z":"787fc2.d5d0704","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1250,"y":340,"wires":[]},{"id":"bd48e32f.b5ff6","type":"switch","z":"c03442a9.dc895","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"zwave/update/","vt":"str"},{"t":"eq","v":"zwave/temp/#","vt":"str"},{"t":"eq","v":"zwave/notification/#","vt":"str"},{"t":"eq","v":"zwave/event","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":160,"wires":[["a39eac8c.de842"],["25b1df06.e826b"],["4ed1dd89.aa4014"],["508cb05c.34af2"],["83bb5a26.d5f3e8"]]},{"id":"83bb5a26.d5f3e8","type":"debug","z":"c03442a9.dc895","name":"otherwise","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":240,"wires":[]},{"id":"7980c664.0d4528","type":"cepAggr","z":"c03442a9.dc895","filters":[],"property":"payload","windowType":"count","windowParam":0,"fieldsList":[{}],"aggrOpList":[{}],"x":630,"y":440,"wires":[[]]},{"id":"25b1df06.e826b","type":"debug","z":"c03442a9.dc895","name":"zwave/temp/#","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":120,"wires":[]},{"id":"5c737693.7a5828","type":"mqtt in","z":"c03442a9.dc895","name":"","topic":"darksky","qos":"2","broker":"f79416d5.655e98","x":150,"y":360,"wires":[["10d4ab6a.49d725"]]},{"id":"9006a4ed.407b68","type":"debug","z":"c03442a9.dc895","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":360,"wires":[]},{"id":"2e8c242a.3ca3cc","type":"find-my-iphone","z":"c03442a9.dc895","x":340,"y":520,"wires":[["7e2bc173.e1444"]]},{"id":"265cc1ab.d734fe","type":"inject","z":"c03442a9.dc895","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["2e8c242a.3ca3cc"]]},{"id":"7e2bc173.e1444","type":"debug","z":"c03442a9.dc895","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":520,"wires":[]},{"id":"e1b0efb2.cedf5","type":"debug","z":"787fc2.d5d0704","name":"","active":false,"console":"false","complete":"true","x":950,"y":580,"wires":[]},{"id":"10d4ab6a.49d725","type":"json","z":"c03442a9.dc895","name":"","property":"payload","action":"","pretty":false,"x":270,"y":360,"wires":[["9006a4ed.407b68"]]},{"id":"60b674a9.529c7c","type":"exec","z":"787fc2.d5d0704","command":"pwd","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":1360,"wires":[["79ae98be.6d2f88"],[],[]]},{"id":"79ae98be.6d2f88","type":"debug","z":"787fc2.d5d0704","name":"","active":true,"console":"true","complete":"true","x":450,"y":1320,"wires":[]},{"id":"707a9cb4.369614","type":"inject","z":"787fc2.d5d0704","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":1360,"wires":[["60b674a9.529c7c"]]},{"id":"508cb05c.34af2","type":"debug","z":"c03442a9.dc895","name":"zwave/event/#","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":200,"wires":[]},{"id":"4ed1dd89.aa4014","type":"debug","z":"c03442a9.dc895","name":"zwave/notification/#","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":160,"wires":[]},{"id":"1ea01586.255dca","type":"debug","z":"31583ee1.d97fc2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":400,"wires":[]},{"id":"b5795823.eb6be8","type":"function","z":"31583ee1.d97fc2","name":"elsys-lora.io","func":"/**\n \n\tIn this editor, you can define your custom javascript code to parse the incoming data.\t\n\t\n\tThe following variables are available:\n\t\n\tdata     : hex string of the data\n\tp\t     : array of bytes represented as string of 2 hex digits \n\tv        : array of bytes represented as integers\n\tmsg.EUI  : device EUI\n\tmsg.fcnt : message frame counter\n\tmsg.port : message port field\n\tmsg.ts   : message timestamp as number (epoch)\n\t\n\tLast line of your script will be printed to the data payload column.\n \n*/\n/*\n  ______ _       _______     _______ \n |  ____| |     / ____\\ \\   / / ____|\n | |__  | |    | (___  \\ \\_/ / (___  \n |  __| | |     \\___ \\  \\   / \\___ \\ \n | |____| |____ ____) |  | |  ____) |\n |______|______|_____/   |_| |_____/ \n \n  ELSYS simple payload decoder. \n  Use it as it is or remove the bugs :)\n  www.elsys.se\n  peter@elsys.se\n*/\nconst TYPE_TEMP    \t=0x01; //temp 2 bytes -3276.8°C -->3276.7°C\nconst TYPE_RH\t\t=0x02; //Humidity 1 byte  0-100%\nconst TYPE_ACC\t\t=0x03; //acceleration 3 bytes X,Y,Z -128 --> 127 +/-63=1G\nconst TYPE_LIGHT\t=0x04; //Light 2 bytes 0-->65535 Lux\nconst TYPE_MOTION\t=0x05; //No of motion 1 byte  0-255\nconst TYPE_CO2\t\t=0x06; //Co2 2 bytes 0-65535 ppm \nconst TYPE_VDD\t\t=0x07; //VDD 2byte 0-65535mV\nconst TYPE_ANALOG1  =0x08; //VDD 2byte 0-65535mV\nconst TYPE_GPS      =0x09; //3bytes lat 3bytes long binary\nconst TYPE_PULSE1   =0x0A; //2bytes relative pulse count\n \nfunction bin16dec(bin) {\n    var num=bin&0xFFFF;\n    if (0x8000 & num)\n        num = - (0x010000 - num);\n    return num;\n}\nfunction bin8dec(bin) {\n    var num=bin&0xFF;\n    if (0x80 & num) \n        num = - (0x0100 - num);\n    return num;\n}\nfunction hexToBytes(hex) {\n    for (var bytes = [], c = 0; c < hex.length; c += 2)\n        bytes.push(parseInt(hex.substr(c, 2), 16));\n    return bytes;\n}\n \nfunction DecodeElsysPayload(data){\n    var obj ={};\n    for(i=0;i<data.length;i++){\n        switch(data[i]){\n            case TYPE_TEMP: //Temperature\n                var temp=(data[i+1]<<8)|(data[i+2]);\n                temp=bin16dec(temp);\n                obj.temperature=temp;\n                i+=2;\n            break;\n            case TYPE_RH: //Humidity\n                var rh=(data[i+1]);\n                obj.humidity=rh;\n                i+=1;\n            break;\n            case TYPE_ACC: //Acceleration\n                obj.x=bin8dec(data[i+1]);\n                obj.y=bin8dec(data[i+2]);\n                obj.z=bin8dec(data[i+3]);\n                i+=3;\n            break;\n            case TYPE_LIGHT: //Light\n                var light=(data[i+1]<<8)|(data[i+2]);\n                obj.light=light;\n                i+=2;\n            break;\n            case TYPE_MOTION: //Motion sensor(PIR)\n                var motion=(data[i+1]);\n                obj.motion=motion;\n                i+=1;\n            break;\n            case TYPE_CO2: //CO2\n                var co2=(data[i+1]<<8)|(data[i+2]);\n                obj.co2=co2;\n                i+=2;\n            break;\n            case TYPE_VDD: //Battery level\n                var vdd=(data[i+1]<<8)|(data[i+2]);\n                obj.vdd=vdd;\n                i+=2;\n            break;\n            case TYPE_ANALOG1: //Analog input 1\n                var analog1=(data[i+1]<<8)|(data[i+2]);\n                obj.analog1=analog1;\n                i+=2;\n            break;\n            case TYPE_GPS: //gps\n                obj.lat=(data[i+1]<<16)|(data[i+2]<<8)|(data[i+3]);\n                obj.long=(data[i+4]<<16)|(data[i+5]<<8)|(data[i+6]);\n                i+=6;\n            break;\n            case TYPE_PULSE1: //Pulse input 1\n                var pulse1=(data[i+1]<<8)|(data[i+2]);\n                obj.pulse1=pulse1;\n                i+=2;\n            break;\n        }\n    }\n    return {payload: obj};\n}\n//var res=DecodeElsysPayload(hexToBytes(data));\n//var json=JSON.stringify(res,null,4);\n//json;\n\n//return {payload: json};","outputs":1,"noerr":0,"x":390,"y":140,"wires":[[]]},{"id":"a521b169.e2a01","type":"function","z":"31583ee1.d97fc2","name":"Test Elsys","func":"var buf = new Buffer(msg.payload.raw, 'base64'); // put in msg.payload the payload raw data stored initially as Base64\nvar node = msg.devEUI;\n\ntemp = buf[2] * 255 + buf[3];\nhum = buf[0] * 255 + buf[1];\n\n// construct a new object to store the data message\nvar data = {\npayload : [\n    [{\n        numValue: temp/10.0,\n        time: new Date(msg.metadata.server_time).getTime()\n    },\n    {\n        tag1:\"temp\",\n        sensor:node\n    }],\n    [{\n        numValue: hum/10.0,\n        time: new Date(msg.metadata.server_time).getTime()\n    },\n    {\n        tag1:\"hum\",\n        sensor:node\n    }]\n]};\nreturn data;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[[]]},{"id":"6cfb5646.1e32a8","type":"mqtt in","z":"31583ee1.d97fc2","name":"","topic":"lorabytes","qos":"2","broker":"f79416d5.655e98","x":440,"y":400,"wires":[["1ea01586.255dca"]]},{"id":"8d0748bb.45fe68","type":"mqtt out","z":"787fc2.d5d0704","name":"","topic":"","qos":"","retain":"","broker":"f79416d5.655e98","x":1550,"y":520,"wires":[]},{"id":"1b9ca3fc.b5a8cc","type":"mqtt in","z":"31583ee1.d97fc2","name":"","topic":"gateway/#","qos":"2","broker":"f79416d5.655e98","x":210,"y":600,"wires":[["7c35280f.b168f8"]]},{"id":"652261a2.e0477","type":"debug","z":"31583ee1.d97fc2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":600,"wires":[]},{"id":"7c35280f.b168f8","type":"json","z":"31583ee1.d97fc2","name":"","property":"payload","action":"","pretty":false,"x":350,"y":600,"wires":[["652261a2.e0477"]]},{"id":"72f55376.8be43c","type":"mqtt in","z":"31583ee1.d97fc2","name":"","topic":"application/#","qos":"2","broker":"f79416d5.655e98","x":180,"y":500,"wires":[["b97818e6.14e688"]]},{"id":"44c6b957.b3e7d8","type":"debug","z":"31583ee1.d97fc2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":500,"wires":[]},{"id":"b97818e6.14e688","type":"json","z":"31583ee1.d97fc2","name":"","property":"payload","action":"","pretty":false,"x":330,"y":500,"wires":[["44c6b957.b3e7d8"]]},{"id":"a6e3eea4.2879b","type":"mqtt in","z":"31583ee1.d97fc2","name":"","topic":"application/2/device/008000000000fa94/rx","qos":"2","broker":"f79416d5.655e98","x":310,"y":780,"wires":[["1f1b82ca.2573ad"]]},{"id":"b1946e48.aa2a9","type":"debug","z":"31583ee1.d97fc2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":780,"wires":[]},{"id":"96244cec.fd217","type":"influxdb out","z":"b48799ff.1c3938","influxdb":"ca6c9043.8f9f9","name":"","measurement":"","precision":"","retentionPolicy":"","x":1860,"y":1280,"wires":[]},{"id":"ee1b7268.f4f16","type":"influxdb in","z":"b48799ff.1c3938","influxdb":"c2f5845.02a6a78","name":"time query","query":"select * from test;","rawOutput":false,"precision":"","retentionPolicy":"","x":1810,"y":1420,"wires":[["c948945f.2b8428"]]},{"id":"829f34d.e6f97c8","type":"inject","z":"b48799ff.1c3938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1659,"y":1420,"wires":[["ee1b7268.f4f16"]]},{"id":"c948945f.2b8428","type":"debug","z":"b48799ff.1c3938","name":"","active":true,"console":"false","complete":"false","x":1992,"y":1420,"wires":[]},{"id":"c7e3c6fa.376108","type":"influxdb out","z":"b48799ff.1c3938","influxdb":"c2f5845.02a6a78","name":"","measurement":"test","precision":"","retentionPolicy":"","x":2050,"y":1580,"wires":[]},{"id":"eb345042.0622","type":"function","z":"b48799ff.1c3938","name":"single value","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":1580,"wires":[["c7e3c6fa.376108"]]},{"id":"dd9ef9e2.b55318","type":"inject","z":"b48799ff.1c3938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1700,"y":1580,"wires":[["eb345042.0622"]]},{"id":"b3477a1b.b0cf28","type":"simpletime","z":"787fc2.d5d0704","name":"","x":1210,"y":580,"wires":[["c6514f71.0183d"]]},{"id":"17d5d493.d0315b","type":"function","z":"787fc2.d5d0704","name":"Temp, Humidity JSON","func":"//BDB Ecobee3 Function\n//Time Stamp Formatting\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \ntime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//Ecobee Code Starts Here\nvar currentTemp=\"\";\nvar currentHumidity=\"\";\nvar currentruntime=\"\";\ncontext.global.EcobeeThermostats = {};\ncontext.global.EcobeeSensors = {};\nSensorCaps = {};\nfor(i = 0; i<msg.payload.thermostatList.length; i++) \n { \n if (msg.payload.thermostatList[i].modelNumber==\"athenaSmart\")\n {\n context.global.EcobeeThermostats[msg.payload.thermostatList[i].identifier] = {\n \"name\":msg.payload.thermostatList[i].name,\n \"connected\":msg.payload.thermostatList[i].runtime.connected,\n \"actualTemperature\": msg.payload.thermostatList[i].runtime.actualTemperature,\n \"actualHumidity\": msg.payload.thermostatList[i].runtime.actualHumidity,\n \"currentruntime\": msg.payload.thermostatList[i].runtime.runtimeInterval,\n \"desiredHeat\": msg.payload.thermostatList[i].runtime.desiredHeat,\n\t\t\t\t\"desiredCool\": msg.payload.thermostatList[i].runtime.desiredCool,\n\t\t\t\t\"desiredFanMode\": msg.payload.thermostatList[i].runtime.desiredFanMode\n };\n\t\t\tcurrentTemp=msg.payload.thermostatList[i].runtime.actualTemperature/10;\n\t\t\tcurrentHumidity=msg.payload.thermostatList[i].runtime.actualHumidity;\n\t\t\tcurrentruntime=msg.payload.thermostatList[i].runtime.runtimeInterval;\n for (j=0; j<msg.payload.thermostatList[i].remoteSensors.length; j++)\n {\n var SensorName=msg.payload.thermostatList[i].remoteSensors[j].name;\n var SensorInUse=msg.payload.thermostatList[i].remoteSensors[j].inUse;\n for (z=0; z<msg.payload.thermostatList[i].remoteSensors[j].capability.length; z++)\n {\n SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id] = {\n \"type\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].type,\n \"value\":msg.payload.thermostatList[i].remoteSensors[j].capability[z].value\n };\n \n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"temperature\")\n {\n var SensorTemp=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n if (SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].type==\"occupancy\")\n {\n var SensorOccupancy=SensorCaps[msg.payload.thermostatList[i].remoteSensors[j].capability[z].id].value;\n }\n \n context.global.EcobeeSensors[msg.payload.thermostatList[i].remoteSensors[j].name] = {\n \"name\":SensorName,\n \"inUse\":SensorInUse,\n \"sensorTemp\":SensorTemp,\n \"sensorOccupancy\":SensorOccupancy\n };\n }\n }\n }\n }\n\nvar ecobeeMsg = {\n    topic: \"ecobee\",\n    payload: {\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime, \n    }\n}\n\nvar tempMsg={\n    payload: currentTemp,\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\nvar rhMsg={\n    payload: currentHumidity,\n    timestamp: time, \n    currentTemp: currentTemp, \n    currentHumidity: currentHumidity,\n    runtime: currentruntime*5, \n};\n\nreturn [ [ecobeeMsg], [tempMsg], [rhMsg] ];\n\n\n","outputs":"3","noerr":0,"x":980,"y":720,"wires":[[],[],[]]},{"id":"c6514f71.0183d","type":"change","z":"787fc2.d5d0704","name":"add epoch","rules":[{"t":"set","p":"payload.epoch","pt":"msg","to":"myepoch","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":580,"wires":[["3c74a91f.7879b6","8d0748bb.45fe68"]]},{"id":"e7f8a6b3.543a58","type":"influxdb out","z":"b48799ff.1c3938","influxdb":"5ac4a0ea.b4ee9","name":"ecobee influxdb","measurement":"mainfloor","precision":"","retentionPolicy":"","x":660,"y":240,"wires":[]},{"id":"c2d540a9.bec3f","type":"mqtt in","z":"b48799ff.1c3938","name":"","topic":"ecobee","qos":"2","broker":"f79416d5.655e98","x":170,"y":240,"wires":[["da6af1f2.2bc86"]]},{"id":"1186e132.4c39af","type":"debug","z":"b48799ff.1c3938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":180,"wires":[]},{"id":"da6af1f2.2bc86","type":"json","z":"b48799ff.1c3938","name":"","property":"payload","action":"","pretty":false,"x":290,"y":240,"wires":[["b966847d.500cb8"]]},{"id":"c0cd1eca.fcb5b","type":"inject","z":"b48799ff.1c3938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1660,"y":1780,"wires":[["f27cdadb.e9fa18"]]},{"id":"f27cdadb.e9fa18","type":"function","z":"b48799ff.1c3938","name":"simple query","func":"msg.query=\"select * from test;\";\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":1780,"wires":[["8e73e179.f6043"]]},{"id":"8e73e179.f6043","type":"influxdb in","z":"b48799ff.1c3938","influxdb":"c2f5845.02a6a78","name":"time query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1983,"y":1780,"wires":[["d913df4a.60a1b"]]},{"id":"d913df4a.60a1b","type":"debug","z":"b48799ff.1c3938","name":"","active":true,"console":"false","complete":"false","x":2141,"y":1780,"wires":[]},{"id":"3855893d.7d9a86","type":"inject","z":"b48799ff.1c3938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1700,"y":2000,"wires":[["ff1758b2.6dfd68"]]},{"id":"ff1758b2.6dfd68","type":"function","z":"b48799ff.1c3938","name":"Fields","func":"msg.payload = {\n    numValue: 123.0,\n    strValue: \"message\",\n    randomValue: Math.random()*10\n}\nreturn msg;","outputs":1,"noerr":0,"x":1848,"y":2000,"wires":[["7bd32f79.a767a"]]},{"id":"7bd32f79.a767a","type":"influxdb out","z":"b48799ff.1c3938","influxdb":"c2f5845.02a6a78","name":"","measurement":"test","precision":"","retentionPolicy":"","x":2018,"y":2000,"wires":[]},{"id":"b966847d.500cb8","type":"change","z":"b48799ff.1c3938","name":"","rules":[{"t":"delete","p":"payload.epoch","pt":"msg"},{"t":"delete","p":"payload.timestamp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[["1186e132.4c39af","e7f8a6b3.543a58"]]},{"id":"7c455557.94df9c","type":"inject","z":"b48799ff.1c3938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1680,"y":2120,"wires":[["6111a1f.d50a36"]]},{"id":"6111a1f.d50a36","type":"function","z":"b48799ff.1c3938","name":"Fields and Tags","func":"msg.payload = [{\n    numValue: 12,\n    randomValue: Math.random()*10,\n    strValue: \"message2\"\n},\n{\n    tag1:\"sensor1\",\n    tag2:\"device2\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1851,"y":2120,"wires":[["65d991cd.90d87"]]},{"id":"4d63966f.226478","type":"influxdb out","z":"b48799ff.1c3938","influxdb":"c2f5845.02a6a78","name":"","measurement":"test","precision":"","retentionPolicy":"","x":2110,"y":2120,"wires":[]},{"id":"65d991cd.90d87","type":"debug","z":"b48799ff.1c3938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2010,"y":2180,"wires":[]},{"id":"5a0f448.526debc","type":"mqtt in","z":"b48799ff.1c3938","name":"","topic":"zwave/cov","qos":"2","broker":"f79416d5.655e98","x":180,"y":500,"wires":[["e5d95265.40039"]]},{"id":"e5d95265.40039","type":"json","z":"b48799ff.1c3938","name":"","property":"payload","action":"","pretty":false,"x":330,"y":500,"wires":[["d91381fa.119a9"]]},{"id":"9e221a2d.522dd8","type":"comment","z":"b48799ff.1c3938","name":"Ecobee Thermostat","info":"","x":210,"y":140,"wires":[]},{"id":"1f1b82ca.2573ad","type":"json","z":"31583ee1.d97fc2","name":"","property":"payload","action":"","pretty":false,"x":570,"y":780,"wires":[["b1946e48.aa2a9"]]},{"id":"d46e4d5c.edfc9","type":"mqtt in","z":"b48799ff.1c3938","name":"008000000000fa94","topic":"application/2/device/008000000000fa94/rx","qos":"2","broker":"f79416d5.655e98","x":1170,"y":200,"wires":[["923c0dcd.e341a"]]},{"id":"923c0dcd.e341a","type":"json","z":"b48799ff.1c3938","name":"","property":"payload","action":"","pretty":false,"x":1330,"y":200,"wires":[["5e98eea4.8bb44"]]},{"id":"fa3cc157.0c2e6","type":"comment","z":"b48799ff.1c3938","name":"Multitech MBox","info":"","x":1160,"y":140,"wires":[]},{"id":"5e98eea4.8bb44","type":"function","z":"b48799ff.1c3938","name":"","func":"lux = msg.payload.object.lux;\nmoisture = msg.payload.object.moisture;\ntemp = msg.payload.object.temp_f;\nx_acc = msg.payload.object.x_acc;\ny_acc = msg.payload.object.y_acc;\nz_acc = msg.payload.object.z_acc;\n\nreturn { payload: {\n    lux: lux,\n    moisture: moisture,\n    temp: temp,\n    x_acc: x_acc,\n    y_acc: y_acc,\n    z_acc: z_acc,\n    }\n}\n\n/*\nreturn { payload: [{\n    lux: lux,\n    moisture: moisture,\n    temp: temp,\n    x_acc: x_acc,\n    y_acc: y_acc,\n    z_acc: z_acc,\n    },{\n    tag1: \"008000000000fa94\",\n    }]\n}\n*/\n","outputs":1,"noerr":0,"x":1450,"y":200,"wires":[["9ad60362.1b4c2"]]},{"id":"9ad60362.1b4c2","type":"influxdb out","z":"b48799ff.1c3938","influxdb":"8b3d4d6.cde5bb","name":"008000000000fa94","measurement":"008000000000fa94","precision":"","retentionPolicy":"","x":1610,"y":200,"wires":[]},{"id":"d9990f8e.3d64b","type":"change","z":"b48799ff.1c3938","name":"","rules":[{"t":"set","p":"measurement","pt":"msg","to":"msg.payload.label","tot":"jsonata"},{"t":"delete","p":"payload.value","pt":"msg"},{"t":"delete","p":"payload.cmdclass","pt":"msg"},{"t":"delete","p":"payload.cmdidx","pt":"msg"},{"t":"delete","p":"payload.instance","pt":"msg"},{"t":"set","p":"payload.currState","pt":"msg","to":"$number(payload.currState)","tot":"jsonata"},{"t":"set","p":"payload.oldState","pt":"msg","to":"$number(payload.oldState)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":600,"wires":[["125b60b6.72c52f"]]},{"id":"fd9cb1ac.107e2","type":"influxdb out","z":"b48799ff.1c3938","influxdb":"ca6c9043.8f9f9","name":"","measurement":"","precision":"","retentionPolicy":"","x":1300,"y":700,"wires":[]},{"id":"d91381fa.119a9","type":"switch","z":"b48799ff.1c3938","name":"","property":"payload.label","propertyType":"msg","rules":[{"t":"eq","v":"Relative Humidity","vt":"str"},{"t":"eq","v":"Battery Level","vt":"str"},{"t":"eq","v":"Alarm Level","vt":"str"},{"t":"eq","v":"Alarm Type","vt":"str"},{"t":"eq","v":"Switch","vt":"str"},{"t":"eq","v":"Level","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":470,"y":500,"wires":[["be983b0.e45fec8"],["55356a4d.30d2c4"],["cdfecc21.e373f"],["fabe58d.af75da8"],["e29e3af7.1bb098"],["95a657b7.d33a48"],["ab42cb6.255c438"]]},{"id":"be983b0.e45fec8","type":"change","z":"b48799ff.1c3938","name":"RH","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"RH","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["d9990f8e.3d64b"]]},{"id":"125b60b6.72c52f","type":"function","z":"b48799ff.1c3938","name":"Add Tag","func":"nodeid = msg.payload.nodeid;\noldState = msg.payload.oldState;\ncurrState = msg.payload.currState;\n\n//Fix Alarm Type label\nlabel = msg.payload.label;\nunits = msg.payload.units;\nuuid = msg.payload.uuid;\n\n\nmsg.payload = [{\n    oldState: oldState,\n    currState: currState,\n    label: label,\n    units: units,\n    uuid: uuid\n},\n{\n    nodeid: nodeid\n}];\n\nmsg.measurement = label\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":600,"wires":[["926bca8d.c3d668","fd9cb1ac.107e2"]]},{"id":"c050e63e.f73f28","type":"mqtt in","z":"e2d0cb9.2227138","name":"","topic":"zwave/cov","qos":"2","broker":"f79416d5.655e98","x":120,"y":120,"wires":[["82e5f319.2af19"]]},{"id":"82e5f319.2af19","type":"json","z":"e2d0cb9.2227138","name":"","property":"payload","action":"","pretty":false,"x":280,"y":120,"wires":[["3f287efb.fb6cc2"]]},{"id":"3f287efb.fb6cc2","type":"mongodb out","z":"e2d0cb9.2227138","mongodb":"c1520f3a.97d92","name":"","collection":"multisensor","payonly":false,"upsert":false,"multi":false,"operation":"store","x":520,"y":120,"wires":[]},{"id":"926bca8d.c3d668","type":"debug","z":"b48799ff.1c3938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":560,"wires":[]},{"id":"1610ea8f.3a76a5","type":"mongodb in","z":"b48799ff.1c3938","mongodb":"c1520f3a.97d92","name":"","collection":"multisensor","operation":"find","x":380,"y":1200,"wires":[["6cb08f0e.c5048"]]},{"id":"84b4a7b9.a8e668","type":"inject","z":"b48799ff.1c3938","name":"","topic":"","payload":"\"select * from multisensor\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1200,"wires":[["1610ea8f.3a76a5"]]},{"id":"6cb08f0e.c5048","type":"debug","z":"b48799ff.1c3938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":1200,"wires":[]},{"id":"55356a4d.30d2c4","type":"change","z":"b48799ff.1c3938","name":"Battery","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Battery","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":420,"wires":[["d9990f8e.3d64b"]]},{"id":"cdfecc21.e373f","type":"change","z":"b48799ff.1c3938","name":"Alarm","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":460,"wires":[["d9990f8e.3d64b"]]},{"id":"fabe58d.af75da8","type":"change","z":"b48799ff.1c3938","name":"Alarm","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"AlarmType","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":500,"wires":[["d9990f8e.3d64b"]]},{"id":"27a1e569.78759a","type":"comment","z":"b48799ff.1c3938","name":"Zwave Sensors","info":"","x":200,"y":360,"wires":[]},{"id":"161c0b17.beec05","type":"mqtt in","z":"b48799ff.1c3938","name":"","topic":"zwave/notification","qos":"2","broker":"28d0828e.b2d48e","x":150,"y":800,"wires":[["58352d5a.fb8874"]]},{"id":"58352d5a.fb8874","type":"json","z":"b48799ff.1c3938","name":"","property":"payload","action":"","pretty":false,"x":330,"y":800,"wires":[["49e095ae.76ab1c"]]},{"id":"e29e3af7.1bb098","type":"change","z":"b48799ff.1c3938","name":"Switch","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":540,"wires":[["d9990f8e.3d64b"]]},{"id":"8ee78a42.8bee88","type":"change","z":"b48799ff.1c3938","name":"","rules":[{"t":"set","p":"measurement","pt":"msg","to":"msg.payload.label","tot":"jsonata"},{"t":"delete","p":"payload.help","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":800,"wires":[["32bfe859.b8b3a8"]]},{"id":"49e095ae.76ab1c","type":"switch","z":"b48799ff.1c3938","name":"","property":"payload.help","propertyType":"msg","rules":[{"t":"eq","v":"Notification - Node Awake","vt":"str"},{"t":"eq","v":"Notification - Node Asleep","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":800,"wires":[["2c785f77.ed366"],["67069e09.ff386"],[]]},{"id":"2c785f77.ed366","type":"change","z":"b48799ff.1c3938","name":"Awake","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"NodeStatus","tot":"str"},{"t":"set","p":"payload.status","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload.value","pt":"msg","to":"Awake","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":780,"wires":[["8ee78a42.8bee88"]]},{"id":"67069e09.ff386","type":"change","z":"b48799ff.1c3938","name":"Asleep","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"NodeStatus","tot":"str"},{"t":"set","p":"payload.status","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload.value","pt":"msg","to":"Asleep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":820,"wires":[["8ee78a42.8bee88"]]},{"id":"5b094ba.d3aa8b4","type":"debug","z":"b48799ff.1c3938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":840,"wires":[]},{"id":"32bfe859.b8b3a8","type":"function","z":"b48799ff.1c3938","name":"Add Tag","func":"nodeid = msg.payload.nodeid;\nnotification = msg.payload.notification;\nlabel = msg.payload.label;\nuuid = msg.payload.uuid;\nstatus = msg.payload.status;\nvalue = msg.payload.value;\n\nmsg.payload = [{\n    status: status,\n    notification: notification,\n    label: label,\n    uuid: uuid\n},\n{\n    nodeid: nodeid,\n    value: value,\n\n}];\n\nmsg.measurement = label\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":800,"wires":[["fd9cb1ac.107e2","5b094ba.d3aa8b4"]]},{"id":"ab42cb6.255c438","type":"debug","z":"b48799ff.1c3938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":620,"wires":[]},{"id":"95a657b7.d33a48","type":"change","z":"b48799ff.1c3938","name":"Level","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Level","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":580,"wires":[["d9990f8e.3d64b"]]}]